<div style="background-color: ghostwhite; height: 500%; width: 100%;" >
    <div class="control-group">
        <app-header></app-header>
        <div class="container" style="height: 540px">  
            <div class="container">
                <div style="text-align:center">
                  <h2>Contact Us</h2>
                  <p>Swing by for a cup of coffee, or leave us a message:</p>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="../assets/Map_Image.jpg" style="width: 98%;
                        height: 340px;">
                      </div>
                  <div class="column">
                    <form action="/action_page.php">
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                      <label for="country">Country</label>
                      <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                      </select>
                      <label for="subject">Subject</label>
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:30px"></textarea>
                      <input type="submit" value="Submit">
                    </form>
                  </div>
                </div>
              </div>
        </div>
        <app-footer></app-footer>
    </div>