<div style="background-color: ghostwhite; height: 500%; width: 100%;" >
    <div class="control-group">
        <app-header></app-header>
        <div class="container" style="height: 540px"> 
        
    <h1>Welcome to Book My Movies</h1>
    <h2>Enjoy Your Film with Family and Friends</h2>

    <p>This is the website more user friendly and make usefull to book your movies from home and outsied or anywhere.</p>
    <br/>
    <br/>
    
    <p>Lets Have fun with friend and enjoy the Movies</p>
    <p>By clicking this link you can find the Movies List  <a routerLink="/showmovie">Movies</a></p>
    <p></p>
        </div>
        <app-footer></app-footer>
    </div>
</div>